<form method="post" ng-submit="userSignup(userId, password ,website, avatar_url)">
  <label>username</label>
  <br>
  <input type="text" ng-model="userId" value="username">
  <br>
  <label>password</label>
  <br>
  <input type="text" ng-model="password" value="password">
  <br>
  <label>website</label>
  <br>
  <input type="text" ng-model="website" value="website">
  <br>
  <label>avatar url</label>
  <br>
  <input type="text" ng-model="avatar_url" value="avatar_url">
  <br>
  <button type="submit">Sign up</button>
</form>
